/* Reset all previous remark styling */
.remark-start ~ * {
  text-align: initial;
}

/* Style only content between .remark-start and .remark-end */
.remark-start ~ p,
.remark-start ~ .ballet-fancy {
  text-align: right;
}

.remark-end ~ p {
  text-align: initial;
}

.remark-start, .remark-end {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to left, #666, transparent);
  margin: 20px 0;
}

/* Style the remark title */
.ballet-fancy {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
}