html {
  font-family: sans-serif;
}

.serif-text {
  font-family: 'Times New Roman', serif;
}
.monospace-text {
  font-family: 'Courier New', monospace;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 100px;
    max-width: 80%;
    line-height: 1.5;
}

  
.katex-display {
    overflow: auto hidden;
} 

.highlight {
    /* margin-left: 2em; */
    font-size: 13px;
    line-height: 1.3em;
    overflow-x: auto;
}
 
nav {
    margin-top: 15px;
    margin-bottom: 15px;
  }

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    display: inline;
    margin-right: 10px;
}

.roboto-text {
    font-family: 'Roboto', sans-serif;
}
.lora-text {
    font-family: 'Lora', serif;
}
.lavishly-yours-regular {
  font-family: "Lavishly Yours", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}
